# Ignore Python virtual environments
*/new_venv/

# Ignore temporary files
*.pyc
__pycache__/
*.db-shm
*.db-wal

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore other temporary or build artifacts
*.tmp
*.swp
